name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt
          pip install black flake8

      - name: Rodar Black (checagem)
        run: |
          black --check .

      - name: Rodar Flake8 (lint)
        run: |
          flake8 .

      - name: Rodar Pytest
        run: |
          pytest
